<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./cssaw/fontawesome.min.css">
  <link rel="stylesheet" href="./cssaw/solid.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Document</title>
  <style>
    html, body {
      height: 100%;
      
    }
    .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .centro {
      justify-content: center;
    }
    form{width: 50%;
    margin-left: 25%;}
    input[type="text"], input[type="password"] {
      border-radius: 8px;
      padding: 10px;
      width: 100%;
      max-width: 300px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
    input[type="submit"] {
      border-radius: 8px;
      padding: 10px;
      width: 100%;
      max-width: 300px;
      
      color: white;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="centro">
      <form action="" method="post">
        <input type="text" id="Nombre" name="Persona" placeholder="Nombre" class="py-1 my-2 text-center" />
        <input type="password" id="Contraseña" name="Contraseña" placeholder="Contraseña" class="py-1 my-2 text-center" />
        <input type="submit" value="Enviar" class="text-center"/>
      </form>
    </div>
  </div>
</body>
</html>
